/* Penguin Prodigies StyleSheet  
   Group Members: 
    Leslie Archibald
    Ryan 
    Soloman
    Winston Peng

    Created for CSE312 Project
    */

.main{
    width: 100%;
    height: 100%;
    position: relative;
}

/* Navbar Styling */
.banner{
    width: 100%;
    height: 15%;
    position:fixed;
    top: 0;
    background: rgb(2, 150, 219);
    align-content: center;
    justify-content: space-around;
}

#navTitle{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
    vertical-align: top;
}

a.navLinks{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left:10px;
    margin-bottom: 0px;
    text-align: center;
    color:black;
}

#firstLink{
    margin-left: 0px;
}


/* page contents styling */

.pageContents{
    width: 100%;
    position:fixed;
    background-color: gainsboro;
    margin-top: 150px;
    height: 90%;
}

.users{
    float: left;
    width: 35%;
    height: 100%;
    background-color: #19a7ce; /* change this for better color scheme*/
    position: relative;
}

.chatDiv{
    float: right;
    height: 100%;
    width: 60%;
    background-color: #146c94;
    position: relative;
}

.chatHistory{
    width: 97.5%;
    height: 75%;
    background-color: gainsboro;
    margin: 10px 10px 10px 10px;
    overflow-y: scroll;

}
.chatForm {
    width: 97.5%;
    height: 10%;
    background-color: gainsboro;
    margin: 10px 10px 10px 10px;
}